<div class="imgaebg min-h-screen bg-cover sm:bg-center bg-no-repeat">
  <div class="imgeover min-h-screen sm:bg-center bg-no-repeat">
    <!-- nav -->
    <div class="text-white mx-12 pt-6 flex justify-between">
      <img class="w-28 h-8" src="../../assets/chatty-high-resolution-logo-white-transparent.png" />
      <ul class="font-pop text-4xl flex space-x-12 cursor-pointer sm:hidden  lg:flex">
        <li class=" hover:transition-all hover:duration-1000 hover:ease-in-out hover:transform link link-underline link-underline-black ">
          Home
        </li>
        <li class=" hover:transition-all hover:duration-1000 hover:ease-in-out hover:transform link link-underline link-underline-black transition duration-1000 ease-in-out transform">
          About us
        </li>
        <li class="  hover:transition-all hover:duration-1000 hover:ease-in-out hover:transform link link-underline link-underline-black transition duration-1000 ease-in-out transform">
          Download
        </li>
      </ul>
       <!-- hamberger   -->
       <div class="lg:hidden  text-2xl text-white" (click)="toggleIcon()">
        <fa-icon *ngIf="isIconToggled" [icon]="fabars"></fa-icon>
        <fa-icon *ngIf="!isIconToggled" [icon]="fax"></fa-icon>
      </div>
      <div *ngIf="!isIconToggled" class="w-48 h-56 sm:rounded-lg sm:bg-gradient-to-br from-purple-800 to-black lg:hidden  sm:fixed sm:right-1   sm:top-14">
        <div class="m-6">
          <ul class="font-landingbold cursor-pointer ">
            <li class="hover:transition-all hover:duration-1000 hover:ease-in-out hover:transform link link-underline link-underline-black transition duration-1000 ease-in-out transform">
              <fa-icon class="text-xl" [icon]="fahome"></fa-icon> 
              <span class="pl-5 text-xl">Home</span>
            </li>
            <li class=" pt-3 hover:transition-all hover:duration-1000 hover:ease-in-out hover:transform link link-underline link-underline-black transition duration-1000 ease-in-out transform">
              <fa-icon class="text-xl" [icon]="facircleinfo"></fa-icon> 
              <span class="pl-5 text-xl">About</span>
            </li>
            <li class=" pt-3 hover:transition-all hover:duration-1000 hover:ease-in-out hover:transform link link-underline link-underline-black transition duration-1000 ease-in-out transform">
              <fa-icon class="text-xl" [icon]="faarrowdown"></fa-icon> 
              <span class="pl-5 text-xl">Download</span>
            </li>
            <div class="flex items-center  pt-7">
              <div class="h-0.5 bg-gray-500 w-44"></div>
            </div>
            <div class="flex  pt-4 gap-2 duration-300 transition-transform ease-out">
              <button routerLink="/login"
              class="border-white border-[0.1rem] rounded-lg w-20 hover:bg-white hover:text-black">
              Login
            </button>
            <button routerLink="signup"
              class="border-white border-[0.1rem] rounded-lg w-20 hover:bg-white hover:text-black">
              Signup
            </button>
            </div>
          </ul>
        </div>
      </div>
      <div *ngIf="!isAuth" class="flex gap-2 sm:hidden  lg:flex"> 
        <button routerLink="/login"
          class="border-white border-[0.1rem] rounded-xl w-20 hover:bg-white hover:text-black">
          Login
        </button>
        <button routerLink="signup"
          class="border-white border-[0.1rem] rounded-xl w-20 hover:bg-white hover:text-black">
          Signup
        </button>
      </div>
      <div *ngIf="isAuth" class="sm:hidden lg:block">
        <button (click)="logout()"
        class="border-white border-[0.1rem] rounded-xl h-10 w-20 hover:bg-white hover:text-black">
        Log out
      </button>
      </div>
    </div>
    <!-- navends -->
    <div class="container  lg:p-[12%] px[1%] sm:min-w-full sm:pt-[75%]">
      <div class="  ">
        <div class="text-white font-landingbold lg:text-4xl sm:text-xl text-center caldiv" id="caldiv"
          data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
          Welcome to <span class="font-pop lg:text-6xl sm:text-2xl ">Chatty </span>
          <div class="pt-2">Where Conversations Come Alive!</div>
        </div>
        <div class="text-white flex justify-center items-center mt-[3%] font-semibold text-lg text-center sm:pt-5"
          data-aos="fade-right" data-aos-delay="20" data-aos-duration="2000">
            <button (click)="onclick()" class="cssbuttons-io-button">
              Start Chatting
              <div class="icon">
                <svg
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
            </button>
            
        </div>
      </div>
    </div>

  </div>
</div>