<div class="imgaebg min-h-screen bg-cover sm:bg-center bg-no-repeat">
  <div class="imgeover min-h-screen sm:bg-center bg-no-repeat">
    <!-- nav -->
    <div class="text-white mx-12 pt-6 flex justify-between">
      <img class="w-28 h-8" src="../../assets/chatty-high-resolution-logo-white-transparent.png" />
      <ul class="font-pop text-4xl flex space-x-12 cursor-pointer sm:hidden  lg:flex">
        <li class="hover:underline hover:transition-all hover:duration-1000 hover:ease-in-out hover:transform">
            Home
        </li>
        <li class="hover:underline transition duration-1000 ease-in-out transform">
            About us
        </li>
        <li class="hover:underline transition duration-1000 ease-in-out transform">
            Download
        </li>
    </ul>
    
      <div class="flex gap-2 sm:hidden lg:flex">
        <button class="border-white border-[0.1rem] rounded-xl w-20 hover:bg-white hover:text-black">
          Login
        </button>
        <button class="border-white border-[0.1rem] rounded-xl w-20 hover:bg-white hover:text-black">
          Signup
        </button>
      </div>
    </div>
    <!-- navends -->
    <div class="container  p-[12%]">
      <div class="  ">
        <div class="text-white font-landingbold text-4xl text-center caldiv" id="caldiv" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000">
          Welcome to <span class="font-pop text-6xl">Chatty </span>
          <div class="pt-3">Where Conversations Come Alive!</div>
        </div>
        <div class="text-white flex justify-center items-center mt-[3%] font-semibold text-lg text-center" data-aos="fade-right" data-aos-delay="20" data-aos-duration="2000">
          <button class="border-white border-[0.1rem] rounded-2xl w-60 h-10 hover:bg-white hover:text-black hover:font-normal">Start Chatting <span class="w-20 pt-6"><fa-icon [icon]="faArrowRight"></fa-icon></span></button>
        </div>
      </div>
    </div>
    
  </div>
</div>
