 <div class="bg-[#23272e] min-h-screen ">
    <div class="min-h-screen w-24 border-r-[2px] border-gray-700 flex flex-col">
        <div class="h-10 w-full pt-3 flex justify-center">
            <img class="w-16 h-6" src="../../assets/chatty-high-resolution-logo-white-transparent.png" >
        </div>
        <div class="flex-grow flex justify-center items-center">
            <div class="bg-[#11151b] w-[3.5rem] text-white text-center rounded-lg">
                <div class="pt-3 w-full">
                    <fa-icon class="hover:text-[#695cff] w-28" [icon]="faComment"></fa-icon>
                </div>
                <div class="pt-3">
                    <fa-icon class="hover:text-[#695cff]" [icon]="faPlay"></fa-icon>
                </div>
                <div class="pt-3">
                    <fa-icon class="hover:text-[#695cff]" [icon]="faGear"></fa-icon>
                </div>
                <span class="border-b-2 border-gray-700 block pt-6 "></span>
                <div class="pt-4 pb-2 hover:text-[#695cff]">
                    <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
                </div>
            </div>
            
        </div>
    </div>
    
 </div>