@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: "badtext"; 
    src: url("./assets/AmaticSC.ttf"); 
} 

@font-face { 
    font-family: "landingtitle"; 
    src: url("./assets/RedditMono-Bold.ttf"); 
} 